* {
    margin: 0px;

}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 55 px;
    background-color: aliceblue;
}

#navlist {
    display: flex;
    list-style: none;
    width: 450px;
    justify-content: space-around;

}
@media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
}

#navlist a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}
a :hover {
    background: #ffffff;
}
a {
    text-decoration: none;
    color: #000000;
}

li {
    font-size: 1.85rem;
    color: #000000;
}

welcome-section (min-height: 100vh) {
    height:  100vh;
    min-height:100vh;
}
section {
    border: 1px solid #000000;
    height: 100vh;
}